@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 50px;
  left: 130px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: 98vw;
  height: 98vh;
  margin: 10px;
  font-family: "Gowun Batang", serif;
  padding: 0px 80px;
  box-sizing: border-box;
}
.box_column {
  background-color: rgba(255, 255, 240, 0.8);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 550px;
  box-sizing: border-box;
}

.box_column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 260px;
  width: 40%;
  max-width: 350px;
}

.box_column:nth-child(2) {
  width: 680px;
  padding: 0px 20px;
  position: relative;
}
.case {
  margin: 0px 10px;
  border-radius: 10px;
  /* background-color: yellow; */
}
.daytime_column {
  margin-top: 15px;
  height: 80px;
  font-weight: 600;
  font-size: 13px;
}

.daytime_column span {
  height: 30px;
  /* background-color: red; */
}

.daytime_column:first-child {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.weather span {
  font-size: 13px;
}

.clock span {
  display: block;
}

.clock span:first-child {
  font-size: 18px;
}

.clock span:last-child {
  font-size: 24px;
  line-height: 15px;
  text-align: center;
}

.bookmark {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookmark div {
  margin-bottom: 15px;
}

.bookmark img {
  /* margin: 0px 20px; */
  height: 60px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px 10px rgb(177, 170, 170);
  /* margin-left: 10px; */
}

.music_player {
  /* margin-top: 40px; */
  text-align: center;

  padding: 10px;
}

#login-form input {
  border: 0 solid black;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  font-size: 23px;
  padding: 10px;
  margin-top: 20px;
  width: 320px;
}
#login-form input:focus {
  border-bottom: 2px solid seagreen;
}

#login-form button,
.logout_btn {
  outline: 0;
  /* text-decoration: none; */
  background-color: rgba(46, 139, 87, 0.8);
  border: 0 solid black;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

#greeting {
  color: seagreen;
  position: relative;
}

.logout_btn {
  border-radius: 7px;
  font-size: 3px;
  padding: 3px;
  position: absolute;
  top: 40px;
  right: 20px;
}

#todo-form input {
  border: 0 solid black;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 7px;
  width: 625px;
}
#todo-box {
  overflow: scroll;
  height: 300px;
  /* background-color: blue; */
}

#todo-list ul {
  list-style: none;
}

#todo-list li {
  list-style: none;
  display: flex;
  width: 640px;
  justify-content: space-between;
  background-color: rgb(250, 235, 215);
  margin: 5px 0px 5px -40px;
  border-radius: 5px;
  padding: 3px 0px;
}

#todo-list li div:nth-child(2) {
  margin-top: -2px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

#todo-list button {
  outline: 0;
  background-color: transparent;
  border: 0 solid black;
  font-size: 14px;
  font-weight: 600;
}

#quote {
  margin-top: 5px;
  /* background-color: aqua; */
  position: absolute;
  bottom: 20px;
  width: 640px;
}

#quote span {
  display: block;
}

.quote_header {
  font-size: 16px;
}

.quote_en,
.quote_kr {
  font-size: 12px;
}

.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}
